/**@font-face**/ 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/*************/

/*************
font-family: "Josefin Sans", sans-serif;  100 - 700
font-family: "Outfit", sans-serif;  100 - 900
font-family: "Dancing Script", cursive;  100 - 400
*************/



nav li {
    background:  rgba(231, 167, 156, 0.6);
    text-shadow: 1px 1px 1px black;
    list-style-type:  none;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    width:  60px;
    display:  inline;
    justify-content: space-between;
    margin: 40px;
    padding: 5px;
}

header {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
    color:blanchedalmond;
    text-shadow: 2px 2px 5px black;
}

header h1 span{
    font-family: "Dancing Script", cursive;
}

body {
    /* Temporarily removing background image of Daiquiri TOGO
    background-image: url("images/daiquiri_togo_name.png");
    */
    background-color: black;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: auto;
}

body p {
    color:blanchedalmond;
    text-shadow: 2px 2px 5px black;
}

body background-image {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}

dl {
    color:blanchedalmond;
    text-shadow: 2px 2px 5px black;
}

section h2 {
    color:blanchedalmond;
    text-shadow: 2px 2px 5px black;
}

main section h2 span {
    font-family: "Dancing Script", cursive;
}

main section ul {
    color:blanchedalmond;
    text-shadow: 2px 2px 5px black;
}

section img {
    width: 50%;
    height: 50%;
}

footer  {
    color:blanchedalmond;
    text-shadow: 2px 2px 5px black;
    width: auto;
    font-family: "Outfit", sans-serif;
    font-weight: 900;
    padding:  20px;
}

footer span{
    font-family: "Dancing Script", cursive;
    text-shadow: 2px 2px 5px black;
    font-weight: 400
}

/* Media Queries */
@media screen and (max-width:  850px) {
    main {
        flex:  50%;
        max-width:  50%;
    }
}

@media screen and (max-width: 700px) {
    main {
        display: block;
    }
    nav li {
        text-decoration: none;
        display: inline-block; 
    }
}